<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBServer" value="192.168.126.1" />
    <add key="DBName" value="SalesLiquidation" />
    <add key="DBUsername" value="sa" />
    <add key="DBPassword" value="B1Admin" />
    <add key="sysDBType" value="" />
    <add key="sysLicenseServer" value="192.168.126.7" />
    <add key="sysDBServer" value="192.168.126.1" />
    <add key="sysDBUsername" value="sa" />
    <add key="sysDBPassword" value="B1Admin" />
    <add key="sysDftDBCompany" value="TEST_NXTD_03" />
    <add key="sysSAPUsername" value="manager" />
    <add key="sysSAPPassword" value="B1Admin" />
  </appSettings>
</configuration>